.newspaper{
    max-width: 400px;
}

.newspaper *{
    display: inline-block;
}

.newspaper small{
    display: block;
}

.newspaper__btn {
    min-width: 100px;
    margin-right: 1rem;
    text-align: left;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newspaper__btn:last-of-type {
    margin: 0;
}

