@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #2B2C2F;
}

.t-bold, b, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6, label, i, b, small, a {
  background: -webkit-linear-gradient(10deg, rgb(149, 127, 236) 0%, rgba(234,52,52,1) 100%);
  background-clip: -webkit-linear-gradient(10deg, rgb(149, 127, 236) 0%, rgba(234,52,52,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a{
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgb(149, 127, 236) 0%, rgba(234, 52, 52, 1) 100% );
}

a:hover{
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, rgb(149, 127, 236) 0%, rgba(234, 52, 52, 1) 100% );
  background: -webkit-linear-gradient(10deg, rgba(234,52,52,1) 0%,rgb(149, 127, 236)  100%);
  background-clip: -webkit-linear-gradient(10deg, rgba(234,52,52,1) 0%,rgb(149, 127, 236)  100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}